<div class="start">
    <img src="/images/beer.png" alt="beer-drawing">
    <div>
        <a class="start-btns" href="/beers">Check the Beers!</a>
        <a class="start-btns" href="/random-beer">Check a random beer</a>
    </div>
    
</div>