<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Ironbeers</title>
    <link rel="stylesheet" href="stylesheets/styles.css"/>
</head>
<body>
    <nav id="top-bar">
        <div><a href="/">Home</a></div>
        <div><a href="/beers">Beers</a></div>
        <div><a href="/random-beer">Random Beer</a></div>
    </nav>

    {{{ body }}}
    
    <nav id="bottom-bar">
        <h4>Developed by @alohacyclist 2022</h4>        
    </nav>
</body>
</html>